<!DOCTYPE html>
<html>
<head>
    <title>File Upload and Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to File Upload and Management</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="/upload">Upload a Single File</a></li>
            <li class="list-group-item"><a href="/upload-multiple">Upload Multiple Files</a></li>
            <li class="list-group-item"><a href="/single">Fetch a Random File</a></li>
            <li class="list-group-item"><a href="/multiple">Fetch Multiple Random Files</a></li>
            <li class="list-group-item"><a href="/gallery">View Gallery of All Files</a></li>
            <li class="list-group-item"><a href="/gallery-pagination">View Gallery with Pagination</a></li>

        </ul>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>